.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  .App__header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    border-bottom: 1px solid #9CE; }
  .App__footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    border-top: 1px solid #9CE; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-out {
  opacity: 0;
  z-index: 1;
  transition: 0.2s; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }
