.template {
  height: 90%;
  padding: 30px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .template::-webkit-scrollbar {
    width: 0; }

.template__back {
  position: absolute;
  top: 50px;
  left: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000; }
  .template__back:focus, .template__back:hover, .template__back:visited, .template__back:link, .template__back:active {
    text-decoration: none;
    color: #000000; }
  .template__back:hover > .template__back-arrow {
    margin-right: 15px;
    margin-left: 5px; }
  .template__back-arrow {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: 0.2s; }
  .template__back-text {
    font-family: monospace;
    font-size: 1.2rem; }

.template__wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column; }

.template__title {
  align-self: center;
  margin: 0;
  font-family: monospace;
  font-size: 18px;
  margin-bottom: 20px; }

.template__content {
  display: flex; }

.template__preview-open {
  width: 90px;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: 0.2s;
  margin-right: 20px; }
  .template__preview-open:hover {
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.4); }

.template__preview-block {
  background-color: #DDD;
  width: 100%;
  height: 6px;
  margin-bottom: 7px;
  border-radius: 3px; }
  .template__preview-block--one {
    width: 50%;
    margin-bottom: 15px; }
  .template__preview-block--two {
    width: 70%; }
  .template__preview-block--three {
    width: 40%; }
  .template__preview-block--four {
    width: 80%; }

.ReactModal__Content--after-open {
  height: 85vh;
  width: 85vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px !important;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .ReactModal__Content--after-open {
      width: 600px; } }

.template__preview-close {
  padding: 13px 0 18px 0;
  font-family: monospace;
  font-size: 1.4rem;
  color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  background-color: #F77;
  cursor: pointer;
  transition: 0.3s; }
  .template__preview-close:hover {
    background-color: #ff5e5e; }

.template__preview-person, .template__preview-subject {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center; }
  .template__preview-person:last-child, .template__preview-subject:last-child {
    margin-bottom: 5px; }
  .template__preview-person:first-child, .template__preview-subject:first-child {
    margin-top: 10px; }

.template__preview-value {
  margin: 0;
  width: 400px;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 400; }

.template__preview-icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  margin-right: 20px;
  margin-left: 30px;
  border-right: 1px solid #000000; }

.template__preview-subject .template__preview-icon {
  width: 45px;
  margin-left: 35px;
  padding-right: 10px; }

.template__preview-border {
  width: 500px;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid #cccccc; }

.form__button-submit {
  margin-top: 30px;
  padding: 10px;
  background-color: #ADA;
  border: 1px solid #86ce86;
  border-radius: 10px;
  font-size: 1.4rem;
  outline: none;
  margin: 30px 30px 20px 30px;
  cursor: pointer;
  transition: 0.3s; }
  .form__button-submit:hover {
    background-color: #98d698; }
